In [ ]:
#Using UCI-Secom data from Kaggle

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('./uci-secom.csv')
print(data.shape)
print(data.head(5))

(1567, 592)
                  Time        0        1          2          3       4      5  \
0  2008-07-19 11:55:00  3030.93  2564.00  2187.7333  1411.1265  1.3602  100.0
1  2008-07-19 12:32:00  3095.78  2465.14  2230.4222  1463.6606  0.8294  100.0
2  2008-07-19 13:17:00  2932.61  2559.94  2186.4111  1698.0172  1.5102  100.0
3  2008-07-19 14:43:00  2988.72  2479.90  2199.0333   909.7926  1.3204  100.0
4  2008-07-19 15:22:00  3032.24  2502.87  2233.3667  1326.5200  1.5334  100.0

          6       7       8  ...       581     582     583     584      585  \
0   97.6133  0.1242  1.5005  ...       NaN  0.5005  0.0118  0.0035   2.3630
1  102.3433  0.1247  1.4966  ...  208.2045  0.5019  0.0223  0.0055   4.4447
2   95.4878  0.1241  1.4436  ...   82.8602  0.4958  0.0157  0.0039   3.1745
3  104.2367  0.1217  1.4882  ...   73.8432  0.4990  0.0103  0.0025   2.0544
4  100.3967  0.1235  1.5031  ...       NaN  0.4800  0.4766  0.1045  99.3032

      586     587     588       589  Pass/Fail
0     NaN     NaN     NaN       NaN         -1
1  0.0096  0.0201  0.0060  208.2045         -1
2  0.0584  0.0484  0.0148   82.8602          1
3  0.0202  0.0149  0.0044   73.8432         -1
4  0.0202  0.0149  0.0044   73.8432         -1

[5 rows x 592 columns]

In [ ]:
d = data.isnull().sum()
j = []
for i in d.keys():
    if(d[i] >900):
        
        j.append(i)

In [ ]:
data.drop(j, axis = 1, inplace = True)

In [ ]:
data.replace(np.nan, 0, inplace = True)
#from sklearn.preprocessing import Imputer
#imputer = Imputer(missing_values = np.nan, strategy = 'mean')
data.isnull().any().any()

False

In [ ]:
#from sklearn.preprocessing import Imputer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,IsolationForest
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import xgboost as xgb
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, precision_score, recall_score, average_precision_score

In [ ]:
x = data.iloc[:, 1:-1]
y = data.iloc[:, -1]
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.7, random_state = 0)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(data.shape)

(1096, 566)
(471, 566)
(1567, 568)

In [ ]:
(data['Pass/Fail'] == 1).index

RangeIndex(start=0, stop=1567, step=1)

In [ ]:
data.head(2)

,Time,0,1,2,3,4,5,6,7,8,...,577,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,14.9509,0.5005,0.0118,0.0035,2.3630,0.0000,0.0000,0.000,0.0000,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,10.9003,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.006,208.2045,-1

In [ ]:
data.columns

Index(['Time', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '577', '582', '583', '584', '585', '586', '587', '588', '589',
       'Pass/Fail'],
      dtype='object', length=568)

In [ ]:
datan=data

In [ ]:
datan=datan.rename(columns={"Time": "timestamp"})

In [ ]:
datan.loc[datan['timestamp']=='2008-07-19 11:55:00']

,timestamp,0,1,2,3,4,5,6,7,8,...,577,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.0,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,14.9509,0.5005,0.0118,0.0035,2.363,0.0,0.0,0.0,0.0,-1

In [ ]:
#selecting for only 300 signals due to AD limitation

In [ ]:
datan=datan.iloc[:, 0:290]

In [ ]:
datan.head(2)

,timestamp,0,1,2,3,4,5,6,7,8,...,289,290,291,294,295,296,297,298,299,300
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,3.8447,0.1077,0.0167,418.1363,398.3185,496.1582,158.3330,0.0373,0.0202,0.0462
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,3.7836,0.1000,0.0139,233.9865,26.5879,139.2082,1529.7622,0.0502,0.0561,0.0591

In [ ]:
#iso8601 format

In [ ]:
mtext='2008-07-19 11:55:00'

In [ ]:
import dateutil.parser as parser
print(mtext)
date = parser.parse(mtext).isoformat()
print(date)

2008-07-19 11:55:00
2008-07-19T11:55:00

In [ ]:
import dateutil.parser as parser
text = 'Thu, 16 Dec 2010 12:14:05 +0000'
for i in range(len(datan)):
    datan.timestamp[i] = (parser.parse(datan.timestamp[i])).isoformat()

/home/datascience/conda/mlcpuv1/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
datan.head(2)

,timestamp,0,1,2,3,4,5,6,7,8,...,289,290,291,294,295,296,297,298,299,300
0,2008-07-19T11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,3.8447,0.1077,0.0167,418.1363,398.3185,496.1582,158.3330,0.0373,0.0202,0.0462
1,2008-07-19T12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,3.7836,0.1000,0.0139,233.9865,26.5879,139.2082,1529.7622,0.0502,0.0561,0.0591

In [ ]:
datan.shape

(1567, 290)

In [ ]:
sdata=datan.iloc[:, 0:250]

In [ ]:
sdata.head(2)

,timestamp,0,1,2,3,4,5,6,7,8,...,249,250,251,252,253,254,255,256,257,258
0,2008-07-19T11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,0.0,219.9453,0.0011,2.8374,0.0189,0.0050,0.4269,0.0,0.0,0.0
1,2008-07-19T12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,0.0,193.0287,0.0007,3.8999,0.0187,0.0086,0.5749,0.0,0.0,0.0

In [ ]:
sdata.sort_values("timestamp", axis = 0, ascending = True,
                 inplace = True, na_position ='last')

In [ ]:
sdatadup=sdata

In [ ]:
sdatadup.head(2)

,timestamp,0,1,2,3,4,5,6,7,8,...,249,250,251,252,253,254,255,256,257,258
63,2008-01-08T02:02:00,3016.64,2492.80,2246.4889,1006.9548,1.0997,100.0,103.3222,0.1184,1.5068,...,0.0,105.3814,0.0021,4.9963,0.0287,0.0181,0.3517,0.0,0.0,0.0
64,2008-01-08T05:52:00,2980.84,2628.76,2187.5222,1268.6598,1.4503,100.0,102.4622,0.1233,1.4672,...,0.0,65.5066,0.0151,2.6554,0.0572,0.0157,0.3816,0.0,0.0,0.0

In [ ]:
sdatadup=sdatadup.drop_duplicates(subset='timestamp',keep='first')

In [ ]:
sdatadup.head()

,timestamp,0,1,2,3,4,5,6,7,8,...,249,250,251,252,253,254,255,256,257,258
63,2008-01-08T02:02:00,3016.64,2492.80,2246.4889,1006.9548,1.0997,100.0,103.3222,0.1184,1.5068,...,0.0,105.3814,0.0021,4.9963,0.0287,0.0181,0.3517,0.0,0.0,0.0
64,2008-01-08T05:52:00,2980.84,2628.76,2187.5222,1268.6598,1.4503,100.0,102.4622,0.1233,1.4672,...,0.0,65.5066,0.0151,2.6554,0.0572,0.0157,0.3816,0.0,0.0,0.0
65,2008-01-08T10:20:00,2847.81,2461.38,2202.7111,1010.4454,1.0032,100.0,104.3067,0.1225,1.4970,...,0.0,165.7468,0.0016,5.2175,0.0584,0.0045,0.4017,0.0,0.0,0.0
66,2008-01-08T10:26:00,0.00,2544.52,2202.7111,1010.4454,1.0032,100.0,104.3067,0.1225,1.4727,...,0.0,242.0692,0.0009,2.2402,0.0336,0.0056,0.2833,0.0,0.0,0.0
67,2008-01-08T11:28:00,2975.64,2508.28,2202.7111,1010.4454,1.0032,100.0,104.3067,0.1225,1.5079,...,0.0,91.6945,0.0048,5.5617,0.0642,0.0280,0.3307,0.0,0.0,0.0

In [ ]:
sdrn=sdatadup

In [ ]:
df_list=[sdrn]
for i, df in enumerate(df_list, 1):
    df.columns = ['signal_'+col_name for col_name in df.columns]

In [ ]:
sdrn.rename(columns={'signal_timestamp': 'timestamp'}, inplace=True)

/home/datascience/conda/mlcpuv1/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
sdrni=sdrn

In [ ]:
sdrni.reset_index()

,index,timestamp,signal_0,signal_1,signal_2,signal_3,signal_4,signal_5,signal_6,signal_7,...,signal_249,signal_250,signal_251,signal_252,signal_253,signal_254,signal_255,signal_256,signal_257,signal_258
0,63,2008-01-08T02:02:00,3016.64,2492.80,2246.4889,1006.9548,1.0997,100.0,103.3222,0.1184,...,0.0,105.3814,0.0021,4.9963,0.0287,0.0181,0.3517,0.0,0.0,0.0
1,64,2008-01-08T05:52:00,2980.84,2628.76,2187.5222,1268.6598,1.4503,100.0,102.4622,0.1233,...,0.0,65.5066,0.0151,2.6554,0.0572,0.0157,0.3816,0.0,0.0,0.0
2,65,2008-01-08T10:20:00,2847.81,2461.38,2202.7111,1010.4454,1.0032,100.0,104.3067,0.1225,...,0.0,165.7468,0.0016,5.2175,0.0584,0.0045,0.4017,0.0,0.0,0.0
3,66,2008-01-08T10:26:00,0.00,2544.52,2202.7111,1010.4454,1.0032,100.0,104.3067,0.1225,...,0.0,242.0692,0.0009,2.2402,0.0336,0.0056,0.2833,0.0,0.0,0.0
4,67,2008-01-08T11:28:00,2975.64,2508.28,2202.7111,1010.4454,1.0032,100.0,104.3067,0.1225,...,0.0,91.6945,0.0048,5.5617,0.0642,0.0280,0.3307,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,1468,2008-12-10T02:59:00,2968.78,2451.53,2207.1000,1298.4309,1.0251,100.0,96.9478,0.1203,...,0.0,79.9135,0.0012,2.3563,0.0288,0.0307,0.4121,0.0,0.0,0.0
1530,1469,2008-12-10T03:21:00,2898.17,2547.65,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0,101.8488,0.0013,2.5365,0.0358,0.0028,0.4060,0.0,0.0,0.0
1531,1470,2008-12-10T03:28:00,3045.87,2493.72,2168.5111,1171.6442,0.8752,100.0,101.6567,0.1235,...,0.0,128.3553,0.0007,1.2240,0.0333,0.0032,0.3634,0.0,0.0,0.0
1532,1471,2008-12-10T08:19:00,2926.38,2383.76,2207.1000,1298.4309,1.0251,100.0,96.9478,0.1203,...,0.0,141.8768,0.0017,3.0969,0.0221,0.0263,0.3938,0.0,0.0,0.0
1533,1472,2008-12-10T18:47:00,3033.46,2424.39,2204.6667,1078.7860,0.9152,100.0,103.9611,0.1196,...,0.0,59.9680,0.0009,2.4453,0.0348,0.0045,0.4623,0.0,0.0,0.0

In [ ]:
sdrni.head(2)

,timestamp,signal_0,signal_1,signal_2,signal_3,signal_4,signal_5,signal_6,signal_7,signal_8,...,signal_249,signal_250,signal_251,signal_252,signal_253,signal_254,signal_255,signal_256,signal_257,signal_258
63,2008-01-08T02:02:00,3016.64,2492.80,2246.4889,1006.9548,1.0997,100.0,103.3222,0.1184,1.5068,...,0.0,105.3814,0.0021,4.9963,0.0287,0.0181,0.3517,0.0,0.0,0.0
64,2008-01-08T05:52:00,2980.84,2628.76,2187.5222,1268.6598,1.4503,100.0,102.4622,0.1233,1.4672,...,0.0,65.5066,0.0151,2.6554,0.0572,0.0157,0.3816,0.0,0.0,0.0

In [ ]:
#save data

In [ ]:
sdrn.to_csv('secn.csv',index=False)

In [ ]:
#https://www.kaggle.com/malepatiyogeshkumar/anomalydetection

In [ ]:
sc = StandardScaler()
x_train_std = sc.fit_transform(x_train)
x_test_std = sc.transform(x_test)

In [ ]:
lr = LogisticRegression(C = 1000, penalty = 'l2')
lr.fit(x_train_std, y_train)
y_pred_lr = lr.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_lr, y_test))
cm = confusion_matrix(y_pred_lr, y_test)
print('precision_score', average_precision_score(y_pred_lr, y_test))
print('recall_score', recall_score(y_pred_lr, y_test))
print('f1_score',f1_score(y_pred_lr,y_test))

accuracy score 0.851380042462845
precision_score 0.11374514755210494
recall_score 0.07692307692307693
f1_score 0.10256410256410257

/home/datascience/conda/mlcpuv1/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
y_test[y_test == -1].sum()

-445

In [ ]:
x_test_std

array([[-0.46001691, -0.38028557, -0.00649851, ..., -0.97860741,
        -1.0413699 , -0.73059571],
       [-0.40839197,  0.38686836,  0.46932325, ...,  0.07606001,
         0.21641601, -0.33128338],
       [ 0.10104342,  0.41411054,  0.1145331 , ...,  0.46348886,
        -0.0152814 , -0.08398095],
       ...,
       [ 0.26706322,  0.21715136,  0.0812028 , ..., -0.31136884,
        -0.21387917,  1.07646917],
       [-0.17521354,  0.59044603, -0.16052805, ...,  0.24825061,
         0.18331638,  0.21935864],
       [ 0.42563379, -0.77585855,  0.12344719, ...,  0.29129826,
         0.18331638, -0.31952785]])

In [ ]:
min(x_test_std[1])

-2.386723934887314

In [ ]:
isolation = IsolationForest()
isolation.fit(x_train_std, y_train)
y_pred_iso = isolation.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_iso, y_test))
cmiso = confusion_matrix(y_pred_iso, y_test)
print('precision_score', average_precision_score(y_pred_iso, y_test))
print('recall_score', recall_score(y_pred_iso, y_test))
print('f1_score',f1_score(y_pred_iso,y_test))

accuracy score 0.055201698513800426
precision_score 1.0
recall_score 0.055201698513800426
f1_score 0.10462776659959759

In [ ]:
tn, fp, fn, tp = cmiso.ravel()

In [ ]:
tp

26

In [ ]:
cmiso

array([[  0,   0],
       [445,  26]])

In [ ]:
print(cmiso[1][1]/ (cmiso[1][1] + cmiso[0][1]))

1.0

In [ ]:
forest = RandomForestClassifier()
forest.fit(x_train_std, y_train)
y_pred_rf = forest.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_rf, y_test))
print('confusion_matrix', confusion_matrix(y_pred_rf, y_test))
print('precision_score', average_precision_score(y_pred_rf, y_test))

accuracy score 0.9447983014861996
confusion_matrix [[445  26]
 [  0   0]]
precision_score nan

/home/datascience/conda/mlcpuv1/lib/python3.6/site-packages/sklearn/metrics/_ranking.py:681: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]

In [ ]:
y_test[y_test == 1].sum()

26

In [ ]:
xgb1 = xgb.XGBClassifier(objective = 'binary:logistic', booster = 'gblinear')
xgb1.fit(x_train_std, y_train)
y_pred_xgb = xgb1.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_xgb, y_test))
print('confusion_matrix', confusion_matrix(y_pred_xgb, y_test))
print('precision_score', average_precision_score(y_pred_xgb, y_test))

accuracy score 0.8768577494692145
confusion_matrix [[405  18]
 [ 40   8]]
precision_score 0.13620774130328273

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'C':[5, 10, 250, 100, 500],
    'penalty':['l1', 'l2']
}
gslr = GridSearchCV(estimator = lr, param_grid = param_grid, n_jobs = -1, cv = 10)
gslr.fit(x_train_std, y_train)
y_pred_gslr = gslr.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_gslr, y_test))
print('confusion_matrix', confusion_matrix(y_pred_gslr, y_test))
print('precision_score', average_precision_score(y_pred_gslr, y_test))

accuracy score 0.8598726114649682
confusion_matrix [[401  22]
 [ 44   4]]
precision_score 0.10623877184386739

/home/datascience/conda/mlcpuv1/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
print('confusion_matrix', confusion_matrix(y_pred_gslr, y_test))

confusion_matrix [[401  22]
 [ 44   4]]

In [ ]:
parameters = { 'max_features':np.arange(5,10),'n_estimators':[500],'min_samples_leaf': [10,50,100,200,500]}

random_grid = GridSearchCV(forest, parameters, cv = 5)
random_grid.fit(x_train_std, y_train)
y_pred_gslr = random_grid.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_gslr, y_test))
print('confusion_matrix', confusion_matrix(y_pred_gslr, y_test))
print('precision_score', average_precision_score(y_pred_gslr, y_test))

accuracy score 0.9447983014861996
confusion_matrix [[445  26]
 [  0   0]]
precision_score nan

/home/datascience/conda/mlcpuv1/lib/python3.6/site-packages/sklearn/metrics/_ranking.py:681: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(x_train_std, y_train)
y_pred_lda = lda.predict(x_test_std)
print('accuracy score', accuracy_score(y_pred_lda, y_test))
print('confusion_matrix', confusion_matrix(y_pred_lda, y_test))
print('precision_score', average_precision_score(y_pred_lda, y_test))
print('recall_score', recall_score(y_pred_lda, y_test))
print('f1_score',f1_score(y_pred_lda,y_test))

accuracy score 0.8832271762208068
confusion_matrix [[411  21]
 [ 34   5]]
precision_score 0.09684166886518675
recall_score 0.1282051282051282
f1_score 0.15384615384615385